# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# IDE-specific files
.idea/
.vscode/

# Logs and databases
*.log
*.sqlite3

# Python cache
__pycache__/

# Environment variables
.env

# Ignore development and local configuration
*.env
*.cfg

# Ignore all files in the 'static' directory
/static/

# Ignore all files in the 'media' directory
/media/

# Ignore pipenv or virtualenv directories
Pipfile
Pipfile.lock

# macOS system files to be ignored
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*
Thumbs.db
ehthumbs.db
